

.dropdown-menu {
width: 600px;
}

.container-fluid {
  width: 80%;
}

.nav-tabs {
    background-color: $light-grey;
    // height: 100%;
    width: 100%;
}

a[disabled="disabled"] {
    pointer-events: none;
}


// .navbar, .navbar-brand, .navbar-default,
// .navbar-static-top {
//     line-height: 10px;
//     height: 10px;
//     padding-top: 0;
// }


// .nav {
//     height: 20px;
// }

// .dropdown-toggle {
//   outline: none;
// }


.dropdown {
    border-right: 1px solid white;
}

ul.dropdown-menu {
    background-color: $lightest-grey;
}

.logo-strip {
    background-color: $darkest-grey;
    height: 50px;
}

.logo {
    position: relative;
    background-color:$light-grey;
    height: 30px;
    width: 130px;
    margin-top:0.8%;
    margin-left: 10%;
}

.rights-strip {
    background-color: $darkest-grey;
    height: 50px;
    bottom: 17px;
}

.crumbs {
    height: 90px;
    background-color:$light-grey;
    margin-bottom: 0;
}

.crumb-text {
    padding-top: 10px;
    margin-left: 10%;
}

.result_hover {
    // border-bottom: 2px solid black;
    text-decoration: underline;

}


.thumbnail {
    height: 200px;
}
