

.dropdown-menu {
width: 600px;
}

.container-fluid {
  width: 80%;
}

.nav-tabs {
    background-color: $light-grey;
    // height: 100%;
    width: 100%;
}

a[disabled="disabled"] {
    pointer-events: none;
}

.submenu {
    border-right: 1px solid white;
}


// .navbar, .navbar-brand, .navbar-default,
// .navbar-static-top {
//     line-height: 10px;
//     height: 10px;
//     padding-top: 0;
// }


// .nav {
//     height: 20px;
// }

// .dropdown-toggle {
//   outline: none;
// }


.dropdown {
    border-right: 1px solid white;
}

ul.dropdown-menu {
    background-color: $lightest-grey;
}

.logo-strip {
    background-color: $darkest-grey;
    height: 50px;
}

.logo {
    position: relative;
    background-color:$lightest-grey;
    height: 30px;
    width: 130px;
    margin-top:0.8%;
    margin-left: 10%;
}

.logo-text{
    position: relative;
    left: 40%;
    top:22%;
    font-size: 10px;
    color: $light-grey;
}


.rights-strip {
    position: absolute;
    background-color: $darkest-grey;
    height: 50px;
    margin-top: 5%;
}

.crumbs {
    height: 90px;
    background-color:$light-grey;
    margin-bottom: 0;
}

.crumb-text {
    padding-top: 10px;
    margin-left: 10%;
}

.result_hover {
    // border-bottom: 2px solid black;
    text-decoration: underline;

}

.row {
    margin-top: 20px;
}
.thumbnail {
    height: 200px;

}



.upper-box-strip {
    position: relative;
    top:0;
    left:0;
    height: 20%;
    width:100%;
    padding-top: 0px;
    background-color: $light-grey;
}

.tile {
    padding-top: 10px;
    padding-left: 10px;
}

.rights-text {
    color: white;
    z-index: 5;
    margin-top: 14px;
    margin-left: 140px;
}
